$color-font: #fff;
$color-bg-default: #33f;
$color-bg-boxes: #fd3;
$font-default: Arial, Helvetica, sans-serif;

body {
    background: url('../assets/background.jpg') no-repeat top center;
    background-size: cover;
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    
    img {
        width: 100%;
        height: auto;
    }

.box_container {
    background: $color-bg-boxes;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;

}

.box {
    border-radius: 1rem;
    border: 2px solid $color-font;
    text-align: center;
    //margin: 1rem;
    width: 10rem;
    height: 10rem;
}