$color-font: #fff;
$color-bg-default: #33f;
$font-default: Arial, Helvetica, sans-serif;

body {
    background: url('../assets/background.jpg') no-repeat top center;
    background-size: cover;
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    
    img {
        width: 100%;
        height: auto;
    }

}
